{#
/**
 * @file
 * Custom Header.
 */
#}

<div class="card p-1 m-1 text-center">
<div>To create a custom header edit <span class="font-weight-bold">"{{ directory }}/templates/header/custom-header.html.twig"</span> file.</div>
</div>
