<div class="header__toggleable-account-menu">
  <button class="header__toggleable-button js-toggle-account-menu">
    <i class="fas fa-user"></i>
  </button>
  {{ themag.user.user_account_menu_block }}
</div>