{# Header user action menu #}

<div class="header__user-nav">
  <div class="d-flex">
    {% if themag.header_user_icon %}
      {% include '@themag/base-layout/header/components/toggleable-account-menu.html.twig' %}
    {% endif %}

    {% if themag.header_search_icon and themag.modules.search %}
      <button class="header__toggleable-button js-toggle-search">
        <i class="fas fa-search"></i>
      </button>
    {% endif %}

    {% if themag.header_cart_icon and themag.modules.commerce_cart %}
     {{ themag.commerce.commerce_cart_block }}
    {% endif %}
  </div>

  <button class="header__toggleable-button toggle-offcanvas-sidebar js-toggle-offcanvas-sidebar">
    <i class="fas fa-bars"></i>
  </button>
</div>
